*.pyc
*.pyo
__pycache__/

env/
venv/
.env/

*.sublime-workspace
*.sublime-project

.DS_Store        # macOS
Thumbs.db        # Windows

*.log

.coverage
nosetests.xml
pytest.xml
*.cover

*.env
*.ini

build/
dist/
*.egg-info/


archive/
rev_1/
images/?
images/
templates/
